$primary-highlight: #0051FF;
$secondary-highlight: #FFF1B4;
$primary-text: #333333;
$secondary-font: 'Roboto Mono', 'Heebo', Helvetica, Arial, sans-serif;
$primary-font: 'Heebo', Helvetica, Arial, sans-serif;
$mobile-break: 600px;

body {
	font-family: $primary-font;
	font-size: 18px;
}
p {
	font-size: 18px;
	line-height: 26px;
}
p.stretch {
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
}
h1.special {
	font-family: $primary-font;
	font-size: 22px;
	color: $primary-highlight;
	font-weight: 500;
}
a {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
		background-color: $secondary-highlight;
		color: $primary-text;
	}
}
.introduction {
	display: flex;
	
	@media screen and (max-width: $mobile-break) {
		display: block;
	}
	.text {
		flex: 1;
	}
	.illustration {
		flex: 1;
		img {
			width: 100%;
		}
	}
}
.articles {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		display: flex;
		padding: 10px 0;
	}
	.date {
		padding-right: 10px;
	}
}
.date {
	font-family: $secondary-font;
	color: $primary-highlight;
}
.item {
	flex-basis: auto;
	align-self: auto;
}
.text {
	padding-right: 10px;
}
.illustration {
	padding-left: 10px;
}
.blinking-cursor {
	animation: 1s blink step-end infinite;
	-webkit-animation: 1s blink step-end infinite;
}
@keyframes "blink" {from, to {opacity: 0;}50% {opacity: 1;}}
@-webkit-keyframes "blink" {from, to {opacity: 0;}50% {opacity: 1;}}
