$primary-highlight: #151515; /*Almost black*/
$footer-highlight: #828282; /*Light grey*/
$secondary-highlight: #FFF1B4; /*Canary yellow*/
$header-font: 'Arimo', sans-serif;
$body-font: 'Heebo', Helvetica, Arial, sans-serif;
$mobile-break: 600px;

body {
	font-family: $body-font;
}
p {
	font-size: 19px;
	line-height: 32px;
	font-weight: 400;
}
p.special {
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
}
p.extra-special {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
h1 {
	font-family: $header-font;
	color: $primary-highlight;
	font-size: 44px;
	line-height: 58px;
	font-weight: 400;
}
a {
	text-decoration: none;
	background-color: $secondary-highlight;
	&:hover {
		text-decoration: none;
		background-color: $secondary-highlight;
		color: $primary-highlight;
	}
}
.foi-button {
	background: transparent;
	border: 2px solid #151515;
	color: #151515;
	padding: 10px 5px 10px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.foi-button:hover {
    background-color: #FFFFFF;
    color: #151515;
}
.introduction {
	display: flex;
	
	@media screen and (max-width: $mobile-break) {
		display: block;
	}
	.text {
		flex: 1;
	}
	.illustration {
		flex: 1;
		img {
			width: 100%;
		}
	}
}
.text {
	padding-right: 15px;
}
.illustration {
	padding-left: 15px;
}
.articles {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		display: flex;
		padding: 10px 0;
	}
	.date {
		padding-right: 10px;
	}
}
.item {
	flex-basis: auto;
	align-self: auto;
}
.footer
{
	font-family: $body-font;
	font-size: 19px;
	color: $footer-highlight;
	font-weight: 300;
}
